@model GholfReg.Controllers.Person

<html>
<head>
	<title>Test</title>
</head>
<body>
Id: @Model.Id <br />
Name: @Model.Name <br />
Age: @Model.Age
<label for="Age"></label>
<input for="Age" />
</body>
</html>